.App {
  padding-top: 8rem;
  min-height: 100vh;
  padding-bottom: 2rem;
}

.navbar {
  background-color: #8b0000 !important;
}

.btn {
  padding: 3px;
  margin-right: 3px;
}

.card-title {
  text-align: center;
}